nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  > h1 {
    margin-left: 1rem;
  }
  > ul {
    display: flex;
    align-items: center;
    height: 100%;
    > li {
      width: 6rem;
      text-align: center;
    }
  }
}
