@import './variable';
// FIXME 모바일/타블렛 업데이트하기
// ANCHOR 모바일
@include mobile {
}

// ANCHOR 타블렛
@include tablet {
}

// ANCHOR 데스크탑
@include desktop {
  .detail_wrap {
    margin: 5rem auto 0;
    padding: 3vh;
    width: $desktop-width;
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    h3 {
      font-size: 1.5rem;
    }
    .null {
      margin: 2rem 0;
    }
    .image_wrap {
      margin: 2rem 0;
      width: 100%;
    }
    .content-wrap {
      word-break: break-all;
      white-space: pre-line;
    }
    .btn-wrap {
      display: flex;
      justify-content: flex-end;
      button {
        cursor: pointer;
        border: 1px solid $dark_pink;
        padding: 0.5rem 1rem;
        background-color: $light_pink;
        &:first-child {
          margin-right: 0.5rem;
        }
        &:last-child {
          color: red;
        }
        &:hover {
          background-color: $dark_pink;
          color: $light_pink;
        }
      }
    }
  }
}
