@import './variable';

@include mobile {
  header {
    background-color: $light_pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    a {
      display: inline-block;
      h1 {
        display: flex;
        align-items: center;
        img {
          height: 2.5rem;
        }
        p {
          display: none;
        }
      }
    }
    .nav {
      display: none;
    }
    .mobile_nav {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        cursor: pointer;
        height: 1.5rem;
      }
      .nav-mobile_wrap {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $dark_green, $alpha: 0.5);
        .mobile_nav_inner_wrap {
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          background-color: $light_pink;
          img {
            cursor: pointer;
            position: absolute;
            top: 0.5rem;
            right: -2rem;
          }
          .mobile_top_menu {
            margin-top: 2rem;
            font-size: 2rem;
            border-bottom: 1px solid $dark_green;
          }
          a {
            display: block;
            padding: 0.5rem 0 0.5rem 0.5rem;
            &:hover {
              background-color: $dark_light_pink;
              color: $dark_green;
            }
          }
          .btn-logout {
            cursor: pointer;
            padding: 0.5rem 0 0.5rem 0.5rem;
            border: none;
            width: 100%;
            background-color: transparent;
            text-align: left;
            font-size: 16px;
            &:hover {
              background-color: $dark_light_pink;
              color: $dark_green;
            }
          }
        }
      }
    }
  }
}
@include tablet {
  header {
    background-color: $light_pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    a {
      display: inline-block;
      h1 {
        display: flex;
        align-items: center;
        img {
          height: 2.5rem;
        }
      }
    }
    .nav {
      display: flex;
      a {
        margin-left: 0.5rem;
        padding: 0.5rem;
        &:hover {
          background-color: $dark_light_pink;
        }
      }
      .btn-logout {
        cursor: pointer;
        margin-left: 0.5rem;
        padding: 0.5rem;
        background-color: transparent;
        border: none;
        font-size: 16px;
        &:hover {
          background-color: $dark_light_pink;
        }
      }
    }
    .mobile_nav {
      display: none;
    }
  }
}
@include desktop {
  header {
    background-color: $light_pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    a {
      display: inline-block;
      h1 {
        display: flex;
        align-items: center;
        img {
          height: 2.5rem;
        }
      }
    }
    .nav {
      display: flex;
      a {
        margin-left: 0.5rem;
        padding: 0.5rem;
        &:hover {
          background-color: $dark_light_pink;
        }
      }
      .btn-logout {
        cursor: pointer;
        margin-left: 0.5rem;
        padding: 0.5rem;
        background-color: transparent;
        border: none;
        font-size: 16px;
        &:hover {
          background-color: $dark_light_pink;
        }
      }
    }
    .mobile_nav {
      display: none;
    }
  }
}
