@import 'styles/scss/common/mixins';
.container1 {
  padding: #{$padding-desktop};
  > h2 {
    font-size: 2rem;
  }
  .hot-issue-wrap {
    display: flex;
    justify-content: space-between;
    > li {
      width: 23%;
      > a {
        > img {
          width: 100%;
        }
      }
      > .image-content {
        position: relative;
        > h3 {
          line-height: 3rem;
        }
        > .like-count {
          position: absolute;
          display: flex;
          align-items: center;
          top: 0.7rem;
          right: 0;
          > svg {
            color: red;
          }
        }
        > .hot-issue-content {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
@include tablet {
  .container1 {
    padding: #{$padding-tablet};
    .hot-issue-wrap {
      flex-wrap: wrap;
      > li {
        margin-bottom: 5vh;
        width: 49%;
      }
    }
  }
}
@include mobile {
  .container1 {
    padding: #{$padding-mobile};
    .hot-issue-wrap {
      flex-direction: column;
      flex-wrap: wrap;
      > li {
        margin-bottom: 5vh;
        width: 100%;
      }
    }
  }
}
