@import 'styles/scss/common/mixins';
.container2 {
  padding: #{$padding-desktop};
  background: #f1f2f3;
  > h2 {
    font-size: 2rem;
  }
  > table {
    border-spacing: 0;
    width: 100%;
    > thead {
      > tr {
        > th {
          line-height: 3rem;
          border-bottom: 1px solid #aaa;
          font-size: 1.2rem;
        }
        > th:first-child {
          width: 5%;
        }
        > th:nth-child(2) {
          width: 65%;
        }
        > th:nth-child(3) {
          width: 10%;
        }
        > th:nth-child(4) {
          width: 15%;
        }
        > th:last-child {
          width: 5%;
        }
      }
    }
    > tbody {
      > tr {
        > td {
          line-height: 2rem;
          text-align: center;
          border-top: 1px solid #aaa;
        }
      }
    }
  }
}
@include tablet {
  .container2 {
    padding: #{$padding-tablet};
    > h2 {
    }
  }
}
@include mobile {
  .container2 {
    padding: #{$padding-mobile};
    h2 {
    }
    th:first-child {
      width: 15%;
    }
    th:nth-child(2) {
      width: 85%;
    }
    th:nth-child(3) {
      display: none;
    }
    th:nth-child(4) {
      display: none;
    }
    th:last-child {
      display: none;
    }
    td:first-child {
      width: 15%;
    }
    td:nth-child(2) {
      width: 85%;
    }
    td:nth-child(3) {
      display: none;
    }
    td:nth-child(4) {
      display: none;
    }
    td:last-child {
      display: none;
    }
  }
}
