nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  > h1 {
    display: flex;
    height: 2.5rem;
    > a {
      display: flex;
      align-items: center;
      > img {
        margin: 0 1rem 0 2rem;
        width: 2rem;
        height: 2rem;
      }
    }
  }
  > ul {
    display: flex;
    align-items: center;
    height: 100%;
    > li {
      width: 6rem;
      text-align: center;
    }
  }
}
