.container1 {
  padding: 5vw 10vh;
  > h2 {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
  .hot-issue-wrap {
    display: flex;
    justify-content: space-between;
    > li {
      width: 23%;
      > a {
        > img {
          width: 100%;
        }
      }
      > .image-content {
        position: relative;
        > h3 {
          line-height: 3rem;
        }
        > .like-count {
          position: absolute;
          display: flex;
          align-items: center;
          top: 0.7rem;
          right: 0;
        }
        > .hot-issue-content {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
